# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Pp]kg/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# node.js and React Native
#
node_modules/
package-lock.json # include if you are using npm - don't use both yarn and npm
npm-debug.log
*.jsbundle
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# VS Code
.vscode/

# Nova Core
nova-core/venv/
__pycache__/
*.pyc
plugins.csv

# Infosec
crypto/
*.key
*.pem
*.crt
*.srl
*.csr
