<<<<<<< HEAD
:root {
	font-size: 16px;
}

body {
	background-color: #F1F1F1;
}

=======
html { 
  font-size: 20px; 
}
>>>>>>> origin/main
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padded-paper {
  padding: 1em;
}

.list-card {
  margin-bottom: 2em;
  padding: 1em;
}

.nova-chip {
  height: 52.5;
}

.btn-bottom {
  position: absolute;
  top: 10%;
}